/* 
  ---- DIMENSION ----  
*/

/* 
  @modifier: width-5
  @property: width
  @desc: adds width of 5%
*/

.width-5{
  width: 5%;
}

/* 
  @modifier: width-10
  @property: width
  @desc: adds width of 10%
*/

.width-10{
  width: 10%;
}

/* 
  @modifier: width-15
  @property: width
  @desc: adds width of 15%
*/

.width-15{
  width: 15%;
}

/* 
  @modifier: width-20
  @property: width
  @desc: adds width of 20%
*/

.width-20{
  width: 20%;
}

/* 
  @modifier: width-25
  @property: width
  @desc: adds width of 25%
*/

.width-25{
  width: 25%;
}

/* 
  @modifier: width-30
  @property: width
  @desc: adds width of 30%
*/

.width-30{
  width: 30%;
}

/* 
  @modifier: width-35
  @property: width
  @desc: adds width of 35%
*/

.width-35{
  width: 35%;
}

/* 
  @modifier: width-40
  @property: width
  @desc: adds width of 40%
*/

.width-40{
  width: 40%;
}

/* 
  @modifier: width-45
  @property: width
  @desc: adds width of 45%
*/

.width-45{
  width: 45%;
}

/* 
  @modifier: width-50
  @property: width
  @desc: adds width of 50%
*/

.width-50{
  width: 50%;
}

/* 
  @modifier: width-55
  @property: width
  @desc: adds width of 55%
*/

.width-55{
  width: 55%;
}

/* 
  @modifier: width-60
  @property: width
  @desc: adds width of 60%
*/

.width-60{
  width: 60%;
}

/* 
  @modifier: width-65
  @property: width
  @desc: adds width of 65%
*/

.width-65{
  width: 65%;
}

/* 
  @modifier: width-70
  @property: width
  @desc: adds width of 70%
*/

.width-70{
  width: 70%;
}

/* 
  @modifier: width-75
  @property: width
  @desc: adds width of 75%
*/

.width-75{
  width: 75%;
}

/* 
  @modifier: width-80
  @property: width
  @desc: adds width of 80%
*/

.width-80{
  width: 80%;
}

/* 
  @modifier: width-85
  @property: width
  @desc: adds width of 85%
*/

.width-85{
  width: 85%;
}

/* 
  @modifier: width-90
  @property: width
  @desc: adds width of 90%
*/

.width-90{
  width: 90%;
}

/* 
  @modifier: width-95
  @property: width
  @desc: adds width of 95%
*/

.width-95{
  width: 95%;
}

/* 
  @modifier: width-100
  @property: width
  @desc: adds width of 100%
*/

.width-100{
  width: 100%;
}

/* 
  @modifier: width-auto
  @property: width
  @desc: adds auto width
*/

.width-auto{
  width: auto;
}

/* dimension - height */

/* 
  @modifier: height-5
  @property: height
  @desc: adds height of 5%
*/

.height-5{
  height: 5%;
}

/* 
  @modifier: height-10
  @property: height
  @desc: adds height of 10%
*/

.height-10{
  height: 10%;
}

/* 
  @modifier: height-15
  @property: height
  @desc: adds height of 15%
*/

.height-15{
  height: 15%;
}


/* 
  @modifier: height-20
  @property: height
  @desc: adds height of 20%
*/

.height-20{
  height: 20%;
}

/* 
  @modifier: height-25
  @property: height
  @desc: adds height of 25%
*/

.height-25{
  height: 25%;
}

/* 
  @modifier: height-30
  @property: height
  @desc: adds height of 30%
*/

.height-30{
  height: 30%;
}

/* 
  @modifier: height-35
  @property: height
  @desc: adds height of 35%
*/

.height-35{
  height: 35%;
}

/* 
  @modifier: height-40
  @property: height
  @desc: adds height of 40%
*/

.height-40{
  height: 40%;
}

/* 
  @modifier: height-45
  @property: height
  @desc: adds height of 45%
*/

.height-45{
  height: 45%;
}

/* 
  @modifier: height-50
  @property: height
  @desc: adds height of 50%
*/

.height-50{
  height: 50%;
}

/* 
  @modifier: height-55
  @property: height
  @desc: adds height of 55%
*/

.height-55{
  height: 55%;
}

/* 
  @modifier: height-60
  @property: height
  @desc: adds height of 60%
*/

.height-60{
  height: 60%;
}

/* 
  @modifier: height-65
  @property: height
  @desc: adds height of 65%
*/

.height-65{
  height: 65%;
}

/* 
  @modifier: height-70
  @property: height
  @desc: adds height of 70%
*/

.height-70{
  height: 70%;
}

/* 
  @modifier: height-75
  @property: height
  @desc: adds height of 75%
*/

.height-75{
  height: 75%;
}

/* 
  @modifier: height-80
  @property: height
  @desc: adds height of 80%
*/

.height-80{
  height: 80%;
}

/* 
  @modifier: height-85
  @property: height
  @desc: adds height of 85%
*/

.height-85{
  height: 85%;
}

/* 
  @modifier: height-90
  @property: height
  @desc: adds height of 90%
*/

.height-90{
  height: 90%;
}

/* 
  @modifier: height-95
  @property: height
  @desc: adds height of 95%
*/

.height-95{
  height: 95%;
}

/* 
  @modifier: height-100
  @property: height
  @desc: adds height of 100%
*/

.height-100{
  height: 100%;
}

/* 
  @modifier: auto-height
  @property: height
  @desc: adds auto height
*/

.auto-height{
  height: auto;
}